<h1>Users#index</h1>

<%@posts.each do |post|%>
<div class="text-center">
<h3>Author:</h3>
<h3><small><%=post.user.name%></h3>
<h3>Body:</h3>
<h3><small><%=post.body%></h3>
<%= link_to "show" , show_users_path(post)%>
</div>
<%end%>
