<h1>Users#show</h1>

<div class="">
  <h2>Author:</h2>
  <%=@posts.user.name%>
  <h2>Body:</h2>
  <%=@posts.body%>
</div>

<%= link_to "back" , root_path %>
<%= link_to "edit" , edit_users_path(@posts) %>
